.grouped-block {
  margin-left: 120px;
  margin-top: 100px;
  width: 75vw;
  background-color: rgba(149, 165, 166, 0.97);
  border-radius: 35px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  animation: floatIn 0.75s ease-out forwards;
  text-align: left;
  padding: 15px;
  color: #2f2523;
}
.card {
  margin: 1rem;
}

.card.medium {
  width: 400px;
}

.card.small {
  width: 120px;
}

.card.right {
  float: right;
}

.card.left {
  float: left;
}

.card.center {
  margin: 0 auto;
  display: block;
}

.card.large {
  width: 480px;
}

.card-image {
  width: 100%;
  height: auto;
}

.hover-card-name {
  color: #ecde98;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  text-decoration: solid;
}

.hover-preview {
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 999;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .grouped-block {
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    width: 90vw !important;
    background-color: rgba(149, 165, 166, 0.97);
    border-radius: 35px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    animation: floatIn 0.75s ease-out forwards;
    text-align: left;
  }

  .card.medium {
    width: 200px;
  }

  .hover-preview {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87.5vw;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
    z-index: 1000;
  }

  .card.large {
    background: rgb(233, 226, 73);
    border-radius: 3px;
    border: 2px solid rgb(233, 226, 73);
    width: 100%;
  }
}
