.grouped-block {
  margin-left: 120px;
  margin-top: 100px;
  width: 75vw;
  background-color: rgba(149, 165, 166, 0.97);
  border-radius: 35px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  animation: floatIn 0.75s ease-out forwards;
  text-align: left;
  padding: 15px;
  color: #2f2523;
}

.card.medium {
  width: 400px;
}

.card.small {
  width: 120px;
}

.card.right {
  float: right;
}

.card.left {
  float: left;
}

.card.center {
  margin: 0 auto;
  display: block;
}

.card.large {
  width: 480px;
}

.card-image {
  width: 100%;
  height: auto;
}

.deck-section {
  margin-bottom: 5px;
}
.hover-card-name {
  color: #ecde98;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  text-decoration: solid;
}

.hover-preview {
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 999;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background: #df928e;
  border-radius: 8px;
  border: 6px solid #df928e;
}

.card-box .medium {
  flex: 0 1 calc(33% - 1rem);
  max-width: calc(33% - 1rem);
}

.card-box .small {
  flex: 1 1 calc(10% - 1rem);
  max-width: calc(10% - 1rem);
}

.card-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.card-modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grouped-block {
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    width: 90vw !important;
    background-color: rgba(149, 165, 166, 0.97);
    border-radius: 35px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    animation: floatIn 0.75s ease-out forwards;
    text-align: left;
  }

  .card.medium {
    width: 200px;
  }

  .hover-preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87.5vw;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    z-index: 1000;
  }

  .card.large {
    background: #df928e;
    border-radius: 8px;
    border: 10px solid #df928e;
    width: 100%;
    height: 100%;
  }
}
