.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  color: white;
}

.navbar {
  background-color: rgb(88, 87, 87);
  border: 2px rgba(99, 87, 76, 0.7);
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  position: absolute;
  height: 100%;
  right: 0;
  color: aliceblue;
}

.navbar a {
  all: unset;
  font-family: Arial, Helvetica, sans-serif;
  transition:
    0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-width: 180px;
}

.navbar a:hover {
  color: aliceblue;
}

.navbar a.active {
  color: aliceblue;
}

.dpul-ref.active {
  opacity: 0.5;
  background: url("../images/nav/dp-ul.jpg");
}

.dpul-ref:hover {
  opacity: 1;
  background: url("../images/nav/dp-ul.jpg");
}

.rspk-ref.active {
  opacity: 0.5;
  background: url("../images/nav/rs-pk.jpg");
}

.rspk-ref:hover {
  opacity: 1;
  background: url("../images/nav/rs-pk.jpg");
}

.bwplf-ref.active {
  opacity: 0.5;
  background: url("../images/nav/bw-plf.jpg");
}

.bwplf-ref:hover {
  opacity: 1;
  background: url("../images/nav/bw-plf.jpg");
}

.xysts-ref.active {
  opacity: 0.5;
  background: url("../images/nav/xy-sts.jpg");
}

.xysts-ref:hover {
  opacity: 1;
  background: url("../images/nav/xy-sts.jpg");
}

.glc-ref.active {
  opacity: 0.5;
  background: url("../images/nav/glc.jpg");
}

.glc-ref:hover {
  opacity: 1;
  background: url("../images/nav/glc.jpg");
}

.sumlot-ref.active {
  opacity: 0.5;
  background: url("../images/nav/sum-lot.jpg");
}

.sumlot-ref:hover {
  opacity: 1;
  background: url("../images/nav/sum-lot.jpg");
}

.bstpaf-ref.active {
  opacity: 0.5;
  background: url("../images/nav/bst-paf.jpg");
}

.bstpaf-ref:hover {
  opacity: 1;
  background: url("../images/nav/bst-paf.jpg");
}

.bsfo-ref.active {
  opacity: 0.5;
  background: url("../images/nav/bs-fo.jpg");
}

.bsfo-ref:hover {
  opacity: 1;
  background: url("../images/nav/bs-fo.jpg");
}

.header {
  width: 100%;
  height: 60px;
  background-color: rgba(58, 58, 58, 1);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(99, 87, 76, 0.7);
}

.header a {
  text-align: center;
  padding: 10px;
  font-size: 24px;
}

.gohome {
  all: unset;
  min-width: 95px;
  min-height: 40px;
  background-image: url(../images/icon/gohome.png);
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.gohome:hover {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    height: auto;
    max-height: 0;
    transition:
      max-height 0.4s ease-in-out,
      padding 0.4s ease-in-out;
    width: 45%;
    flex-direction: column;
    position: absolute;
    left: auto;
    right: 0.1rem;
    background-color: rgba(58, 58, 58, 1);
    border-radius: 0 0 16px 16px !important;
    overflow: hidden;
    transform: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    align-items: center;
  }

  .navbar.open {
    max-height: 1000px;
    padding: 0.2rem 0;
    z-index: 1100;
  }

  .navbar a {
    width: 180px !important;
    border-radius: 16px !important;
    justify-content: center;
    padding: 1rem 0;
  }

  .header {
    justify-content: space-between;
  }
}
