.format-panel {
  margin-left: 120px;
  margin-top: 150px;
  margin-bottom: 60px;
  width: 45%;
  background-color: rgba(149, 165, 166, 0.97);
  border-radius: 35px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  animation: floatIn 0.75s ease-out forwards;
  text-align: left;
}

.format-panel img {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 35px;
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
} /*remove page margins*/

html,
body {
  height: 100%;
}

.content {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: justify;
  background: url("../images/landing/home.jpg");
  background-repeat: repeat;
}

.content.dimmer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("../images/landing/home.jpg");
  background-size: auto;
  background-position: top left;
  background-repeat: repeat;
}
